<strong>Password recovery</strong>

<p>
  A password recovery request was made for the following email ({{ email }}).
  If you didn't make this request, please change your password for safety reasons.
</p>

<p>To continue with the password recovery, use this token {{ token }} or click on the following link</p>

<a href="{{ link }}">Create new password</a>
